<p>
  <span class="author"><%= comment.action.user.display_name %></span>
  has posted a comment about
  <span class="title">"<%= link_to comment.action.commentable.title,
  comment.action.commentable %>"</span>
</p>