<p>
  <span class="author"><%= feedarticlecomment.author %></span> has posted a comment about <span class="title">"<%= link_to feedarticlecomment.action.feed_article.title, [feedarticlecomment.action.feed_article.feed, feedarticlecomment.action.feed_article] %>"</span>
</p>