<% content_for :topbar do %>
  <div id="banner_text">
  	<p id="welcome">About the Corridor</p>
  	<p>This website is your place to learn and share about the life of Michigan Avenue, a commercial corridor that runs through Lansing and East Lansing, Michigan.</p> 
  	<p><%= link_to "Sign up", new_account_path %> to share your stories with us!</p>
  </div>
<% end %>

<h1>About the Corridor</h1>
	<p>The Michigan Avenue Corridor is the stretch of Michigan Avenue from the Brody Complex on the MSU Campus to Clara’s Train Station.  It includes the houses, community and neighborhood organizations, businesses, and apartments near and on that stretch. Policymakers from Lansing, Lansing Township and East Lansing have formed an Exploratory committee and are discussing ways to enhance a sense of community in the corridor</p>
<h2>What is the Michigan Avenue Corridor Project?</h2>
	<p>The revitalization project is the result of a partnership between the City of East Lansing, City of Lansing, Lansing Township and Michigan State University. Some of the initial goals of the project include the revitalization and beautification of the Michigan Avenue corridor to make it more walkable; the attraction of a larger base of customers; and the creation of a pleasant living environment for surrounding neighbors. In order to accomplish this, a Michigan Avenue Corridor Improvement Authority will be created to organize efforts.</p>	
<h2>How will the Michigan Avenue Corridor Project be funded?</h2>  
	<p>The Michigan Avenue Corridor Improvement Authority can be funded through bonds as well as directly through Tax Increment Financing, or TIF. A TIF district is an area where future tax growth (new taxes) will be captured by the TIF district for implementation of improvements within that district. Tax Increment Financing is used for public infrastructure improvements, such as burying utilities, streetscape improvements, signs, landscaping, design, and organizational development. The duration of the TIF is determined by the goals and costs of the proposed improvements. Michigan Avenue Corridor Stakeholders will create goals and improvements in the corridor will be paid for by the new taxes realized from new development within the corridor.</p>
<h2>How has the local community been involved in Corridor Project discussions?</h2>
	<p>An Exploratory Committee (comprised of city planners and policymakers from Lansing, Lansing Township, and East Lansing) has involved Michigan Avenue Corridor Stakeholders (residents, community/neighborhood organizations, and small businesses) in community visioning and planning meetings.  Please click on the links and documents below to discover how the Exploratory Committee and Michigan Avenue Corridor Stakeholders have been working together to analyze current conditions and imagine future possibilities for the Michigan Avenue Corridor.</p>
<h3>Links</h3>
	<ul>
		<li><a href="http://www.michiganavecorridor.com/Meetings/tabid/57/Default.aspx">Public Meetings</a></li>
		<li><a href="/docs/corridor_news.pdf">Corridor News (PDF)</a></li>
		<li><a href="/docs/conceptual_development_plan.pdf">Conceptual Development Plan (PDF)</a></li>
	</ul>